<div class="header">
    <div class="menu-logo">
        <img src="./assets/menu.png" class="icons">
        <img src="./assets/gmaillogo.png" alt="gmail-logo" style="height: 2.25rem;">
    </div>
    <div class="searchbar-section">
        <div class="searchbar">
            <img src="./assets/lens.png" alt="" class="search-icon">
            <input type="search" name="search" class="input-searchbar" placeholder="Search mail">
        </div>
    </div>
    <div class="profile-section">
        <div class="profile">
            <img src="./assets/user.png" class="search-icon">
        </div>
    </div>
</div>