<div class="content-section">
    <div class="pagination-section">
        <input type="checkbox" name="" id="">
    </div>
    <div class="options-section">
        <mat-tab-group animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <img src="./assets/inbox.png" class="icons">
                        Primary
                    </div>
                </ng-template>
                <app-mail-tab></app-mail-tab>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <img src="./assets/tag-outline.png" class="icons">
                        Promotions
                    </div>
                </ng-template>
                Content 2
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <img src="./assets/group.png" class="icons">
                        Social
                    </div>
                </ng-template>

                Content 3
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <img src="./assets/info.png" class="icons">
                        Updates
                    </div>
                </ng-template>

                Content 3
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-label">
                        <img src="./assets/bubble-chat.png" class="icons">
                        Forums
                    </div>
                </ng-template>
                content 6
            </mat-tab>
        </mat-tab-group>
    </div>
</div>