<table>
    <tr>
        <td> <input type="checkbox"></td>
        <td><img src="./assets/star.png" alt="star" class="icons"></td>
        <td>IIM</td>
        <td>Last few days left to register for the only IIM course by IIMV in Supply Chain Management</td>
        <td>6:20 PM</td>
    </tr>
    <tr>
        <td> <input type="checkbox"></td>
        <td><img src="./assets/star.png" alt="star" class="icons"></td>
        <td>IIM</td>
        <td>Last few days left to register for the only IIM course by IIMV in Supply Chain Management</td>
        <td>6:20 PM</td>
    </tr>
    <tr>
        <td> <input type="checkbox"></td>
        <td><img src="./assets/star.png" alt="star" class="icons"></td>
        <td>IIM</td>
        <td>Last few days left to register for the only IIM course by IIMV in Supply Chain Management</td>
        <td>6:20 PM</td>
    </tr>
    <tr>
        <td> <input type="checkbox"></td>
        <td><img src="./assets/star.png" alt="star" class="icons"></td>
        <td>IIM</td>
        <td>Last few days left to register for the only IIM course by IIMV in Supply Chain Management</td>
        <td>6:20 PM</td>
    </tr>
</table>